{% extends 'photo_studio/base.html' %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ album_title }}</h1>
                <button type="button" 
                        class="btn btn-outline-light btn-lg mt-4" 
                        onclick="location.href='{% url "photo_studio:photo_new" album_id=album_id %}'">
                        사진 추가
                </button>
            </div>
        </div>
    </header>
    {% if photos %}
    <form method="POST" action="{% url 'photo_studio:download' album_id=album_id %}">
        {% csrf_token %}
        <div style="margin: 0 auto;">
            <div class="justify-content-center text-center" style="margin-top:1rem; margin-bottom:1rem;">
                <input type="submit" 
                       class="btn btn-primary" 
                       value="네컷사진 다운로드" 
                       action="{% url 'photo_studio:download' album_id=album_id %}">
            </div>
        </div>
        <div class="container text-center">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
                {% if photo_templates %}
                    {% for template in photo_templates %}
                        <div class="col">
                            <p>{{ template.property }}
                                <input 
                                    class="template{{ template.id }}"
                                    type="radio"
                                    name="template_id"
                                    value="{{ template.id }}"
                                    onclick="select_limit('{{ template.property }}', '{{ template.id }}')">
                            </p>
                            <img class="img-thumbnail flex" 
                                src="{{ template.template_url.url }}"
                                style="width:200px; height:200px;">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5"> 
                <div class="grid gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center">
                    <div class="grid-sizer grid-item mb-5"></div>
                    {% for photo in photos %}
                        <div class="grid-item mb-5" style="padding-left:10px; padding-right:10px;">
                            <div id="studio" class="card text-dark bg-light mb-3" style="max-width: 18rem; margin:0 auto;">
                                <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="card-img-top">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title">
                                            {{ photo.title }} 
                                            <input id="{{ photo.property }}" 
                                                class="photo{{ photo.id }} select_photo" 
                                                type="checkbox" 
                                                name="photo_id" 
                                                value="{{ photo.id }}"
                                                disabled>
                                        </h5>
                                        <p class="card-text">{{ photo.description }}</p>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                옵션
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{% url 'photo_studio:photo_edit' photo_id=photo.id album_id=album_id %}">수정</a></li>
                                                <li><a class="dropdown-item" href="{% url 'photo_studio:photo_delete' photo_id=photo.id album_id=album_id %}">삭제</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </form>
    {% else %}
        <h1 style="text-align:center; padding:10px;">사진을 추가해주세요.</h1>
    {% endif %}
<script>
    var check_vartical = document.querySelectorAll('#세로');
    var check_horizontal = document.querySelectorAll('#가로');

    function select_limit(property, id){
        if(document.querySelector(`.template${id}`).checked == true){
            if(property == '가로'){
                for(var i=0; i<check_vartical.length; i++){
                    check_vartical[i].disabled = true;
                }
                for(var i=0; i<check_horizontal.length; i++){
                    check_horizontal[i].disabled = false;                 
                }
            }
            else if(property == '세로'){
                for(var i=0; i<check_horizontal.length; i++){
                    check_horizontal[i].disabled = true;
                }
                for(var i=0; i<check_vartical.length; i++){
                    check_vartical[i].disabled = false;
                }
            }
        }
    }
</script>
{% endblock content %}