<nav class="navbar navbar-expand-lg border-bottom" style="background-color:#2C3639; font-size:1.2rem;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'photo_studio:index' %}" style="font-size:1.6rem;"><b>PhotoStudio</b></a>
        <div class="collapse navbar-collapse item2" id="navbarSupportedContent" style="float:left;">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photo_studio:main' %}">Main</a>
                </li>
            </ul>
            {% if request.path != '/' %}
                <div style="margin: 0 auto;">
                    {% if 'main' in request.path %}
                        <input class="form-control me-2" type="search" id="search_main" placeholder="Search" aria-label="Search">
                    {% elif 'album' in request.path %}
                        <input class="form-control me-2" type="search" id="search_album" placeholder="Search" aria-label="Search">
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="item1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex-direction: row; float: right;">
                {% if user.is_authenticated %}
                    <li class="nav-item" id="account-settings">
                        <a class="nav-link" href="{% url 'photo_studio:account' %}" >{{ user.username }}</a>
                    </li>
                    <li class="nav-item" id="account-settings">
                        <a class="nav-link" href="{% url 'photo_studio:logout' %}" onclick='alert("로그아웃 되었습니다")'>로그아웃</a>
                    </li>
                {% else %}
                    <li class="nav-item" id="account-settings">
                        <a class="nav-link" href="{% url 'photo_studio:login' %}">로그인</a>
                    </li>
                {% endif %}
                <li>
                    {% if not user.is_authenticated %}
                        <a class="nav-link" id="account-settings" href="{% url 'photo_studio:signup' %}">회원가입</a>
                    {% endif %}
                </li>
                <li>
                    <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            onclick="">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>