{% extends 'photo_studio/base.html' %}
{% block content %}
    <div class="container my-3" style="display: flex; justify-content: center;">

        <form method="post" action="{% url 'photo_studio:photo_new' album_id=album_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "photo_studio/form_errors.html" %}
            <div class="col-12 mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title"
                    value="{{ form.title.value|default_if_none:'' }}" required>
            </div>
            <div class="col-12 mb-3">
                <label for="description">설명</label>
                <input type="text" class="form-control" name="description" id="description"
                    value="{{ form.description.value|default_if_none:'' }}" 
                    style="height:200px; 
                    font-size:1rem; word-break:break-all;"
                    required>
            </div>
            <div class="col-12 mb-3">
                <label for="image">사진</label>
                <input type="file" class="form-control" name="image" id="image"
                    value="{{ form.image.value|default_if_none:'' }}" required>
            </div>
            <div class="col-12 mb-3">
                <input type="radio" name="property" value="가로">가로사진
                <input type="radio" name="property" value="세로">세로사진
            </div>
            <button type="submit" class="btn btn-primary col-12">등록</button>
            {% if messages %}
            <hr>
            <ul class="messages" style="padding-left:0px;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} 
                    style="list-style:none; padding-left:0px; color:red;">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
{% endblock content %}